<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2345ea5d-77ed-415d-a0fa-24d8f1b5f977/resourceGroups/demoparcialprog3/providers/Microsoft.Web/sites/demoparcialprog3</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demoparcialprog3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>24a48b44-dea4-c4f4-b207-b8bee427e9f9</ProjectGuid>
    <PublishUrl>https://demoparcialprog3.scm.azurewebsites.net/</PublishUrl>
    <UserName>$demoparcialprog3</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>